@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');	

body{
    background-color: #074033;
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    margin: 0;
}
html{
    box-sizing: border-box;
    line-height: 1.15%;
    -webkit-text-size-adjust: 100%;
}


* {
    --color1: #074033;
    --color2: #005A45;
    --color3: #D13B68;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
  
}
a {
    text-decoration: none;
    color: white;
}
.header {
    position: sticky;
    top: -8px;
    z-index: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;

    padding: .2rem;
}
@media (min-width: 768px) {
    .header {
        padding: .8rem;
    }
}
.logo__title {
    font-size: 20px;
}
.logo__title--ligth {
    font-weight: lighter;
    color: var(--color3);
}
@media (min-width: 768px) {
    .logo__title {
     font-size: 30px;
    } 
 }
 .navbar__list {
    display: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}

.list__item {
    transition: all .4s;
    font-size: 22px;
}
@media (min-width: 768px) {
    .list__item {
        font-size: 22px;
    } 
}
.list__item:hover {
    color:#D13B68
}
@media (min-width: 768px) {
    .navbar__list {
        flex-direction: row;
        gap: 1.7rem;
    }
}
.btn__menu--open {
    display: block;
}
@media (min-width: 768px) {
   .btn__menu--open {
    display: none;
   } 
}
.btn__menu--open,
.btn__menu--close {
    border: 0;
    color: white;
    font-size: 1.75rem;
    background-color: transparent;
    cursor: pointer;
}
@media (min-width: 768px) {
    .btn__menu--close {
        display: none;
    } 
}
.navbar {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    background-color: #00A77F;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
@media (min-width: 768px) {
    .navbar {
        position: unset;
        opacity: 1;
        visibility: visible;
        background-color: unset;
        box-shadow: unset;
        padding: .5rem;
    }
}
.navbar.visible {
    opacity: 1;
    visibility: visible;
}
/* SECCION DEL HERO */
.hero {
    position: relative;

    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    height: 75vh;
    padding: 2rem;
}
@media (min-width: 1040px) {
    .hero {
        height: 20vh;
    }
}
.hero svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}
@media (min-width: 768px) {
    .hero svg {
        bottom: -40px;
        z-index: 1;
    } 
}
.hero__container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
    padding: 1rem;
}
@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        height: 90vh;
    }
    .hero__container {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        align-items: flex-start;
        padding: 1rem;
    }
}
.container__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container__info h2 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
}
@media (min-width: 768px) {
    .container__info h2 {
        position: absolute;
        margin-left: 30%;
        font-size: 50px;
        text-align: center;
    }
}
.container__info span {
    font-size: 53px;
    font-family: 'Bungee Inline';
    font-weight: bold;
    color: white;
}
@media (min-width: 1040px) {
   .container__info span {
    font-size: 90px;
   } 
}

.container__info span .pink-text {
    color: var(--color3);
}
.container__info p {
    text-align: center;
    color: white;
    font-weight: lighter;
}
@media (min-width: 768px) {
    .container__info p {
        
        position:absolute;
      margin-left: 33%;
      margin-top: 8%;
        font-size: 30px;
        text-align: center;
    } 
}
.container__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}
@media (min-width: 768px) {
    .container__buttons {
        flex-direction: row;
    } 
}

.search{
    padding: 7px 7rem;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border: 3px solid #dd507a;
    background: #ffffff;
}

.container {
    max-width:125rem;
    margin:0 auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: 3.8rem;
flex-wrap: wrap;

}
main {
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#005A45, transparent);
    margin-bottom: 1.25rem;
}
.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    text-align: center;
    color: #00A77F;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg,#074033 ,#005A45 );
    border-radius: 0 0 20px 20px;
    /*
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.titulo{
    
    color: black;
    text-align: center;
}
.seccion-perfil-usuario .perfil-usuario-body .titulo {
    white-space: nowrap;
    text-align: center;
    display: block;
color:#404040;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    text-align: center;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    text-align: center;
   
    flex-wrap: wrap;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
  
}


.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
        text-align: center;
    }
    .titul{
       text-align: center;
       color: #309B76; 
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}

/*
Diseño para la interfaz de cambio de contraseñas
*/
.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.bar{
    margin-top: 30%;
    width: 170%;
    max-width: 400px;
    margin-bottom: -70px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #005A45;
}
.Continuar {
    margin-top: 40%;
    width: 50%;
    max-width: 156px;
    margin-bottom: -50px;
    background-color:#D13B68;
    border-radius: 10px;
    white-space: nowrap;
    padding: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #005A45;

}
.Continuar:hover{
    color: #dd507a;
}

@media (max-width: 600px){
    .bar {
        max-width: 300px;
    }
}




  
  
  
  
  



